/*
 * Global color and font
 */
body {
  color: #555;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.label, .badge{
  font-family: sans-serif;
}

/*
 * Navbar
 */
.top-row{
  border-bottom: 1px solid #E2E2E2;
  height: 40px;
}
.top-row .top-row-item a{
  display: block;
  padding: 12px;
  height: 40px;
}
.top-row .top-row-item.save a{
  text-transform:uppercase;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #EF371F;
  font-size: 10px;
  text-align: center;
}
.top-row .save.save-alert a{
  color: #EF371F;
}

/*
 * Menu
 */
.nav-tmn-menu{
  border-bottom: 1px solid #E2E2E2;
  margin-left: 3px;
}
.nav-tmn-menu li{
  display: inline-block;
  margin-left: -3px;
  border-right: 1px solid #E2E2E2;
}
.nav-tmn-menu li a{
  color: #9EA1A7;
  font-size: 10px;
  padding: 12px 12px 6px 12px;
  border-bottom: 6px solid #FFFFFF;
}
.nav-tmn-menu li a:hover{
  border-bottom: 6px solid #eeeeee;
}
.nav-tmn-menu li .nav-tmn-title{
  text-transform:uppercase;
}
.nav-tmn-menu li.active a{
  border-bottom: 6px solid #E2E2E2;
}
.nav-tmn-menu li.active .nav-tmn-title{
  color:#000;
}
.nav-tmn-menu li.active .nav-tmn-subtitle{
  color:#29ABE2;
}
.nav-tmn-menu li p{
  padding: 0px;
  margin: 0px;
}

/*
 * Central panel (ex: upload)
 */
div > div.central-panel{
  padding: 8% 0;
  text-align: center;
}
div.central-panel{
  padding: 10% 0
}

/*
 * Sigma
 */
.sigma-panel{
  height: 100%;
  min-height: 200px;

  /* from http://www.colorzilla.com/gradient-editor/ */
  background: rgb(248,248,248); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  
  -webkit-box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.10);
  -moz-box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.10);
  box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.10);
}

.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


/*
 * Full-height layout
 */
html,body,.container-fullheight
{
    height:100%;
}
.container-fullheight
{
    display:table;
    width: 100%;
    margin-top: -110px;
    padding: 110px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-fullheight .row
{
    height: 100%;
    display: table-row;
}
.container-fullheight .col-left, .container-fullheight .col-right
{
    display: table-cell;
    float: none; /* thanks baxxabit */
}
.col-left{
  padding-left: 0px;
}

