{{! Upload form: }}
<h2>{{t  "upload.upload_network" }}</h2>
<div class="form-group">
  <!-- <label for="networkInputFile">Select a file or drag and drop it here</label> -->
  <input type="file" id="networkInputFile">
  <p class="help-block">{{t "upload.upload_gexf" }}</p>
</div>
