/*
 * Global color and font
 */
body {
  color: #555;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.label, .badge{
  font-family: sans-serif;
}

/*
 * Navbar
 */
.top-row{
  border-bottom: 1px solid #E2E2E2;
  height: 40px;
}
.top-row .top-row-item a{
  display: block;
  padding: 12px;
  height: 40px;
}
.top-row .top-row-item.save a{
  text-transform:uppercase;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #EF371F;
  font-size: 10px;
  text-align: center;
}
.top-row .save.save-alert a{
  color: #EF371F;
}
.top-row .save.save-alert{
  cursor: pointer;
}
.top-row a.top-row-brand{
  padding: 0px;
  line-height: 38px;
  color: #181818;
font-weight: bold;
font-family: 'Roboto';
}

/*
 * Menu
 */
.nav-tmn-menu{
  border-bottom: 1px solid #E2E2E2;
  margin-left: 4px;
}
.nav-tmn-menu li{
  display: inline-block;
  margin-left: -3px;
  border-right: 1px solid #E2E2E2;
}
.nav-tmn-menu li a{
  color: #9EA1A7;
  font-size: 10px;
  padding: 9px 12px 12px 12px;
  border-top: 3px solid #FFFFFF;
}
.nav-tmn-menu li a:hover{
  border-top: 3px solid #eeeeee;
}
.nav-tmn-menu li .nav-tmn-title{
  text-transform:uppercase;
}
.nav-tmn-menu li.active a{
  border-top: 3px solid #E2E2E2;

  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
  z-index:10;

}
.nav-tmn-menu li.active.active-sigma a{
  border-bottom: 1px solid rgb(240,240,240);

  background: rgb(252,252,252);

}
.nav-tmn-menu li.active .nav-tmn-title{
  color:#000;
}
.nav-tmn-menu li.active .nav-tmn-subtitle{
  color:#29ABE2;
}
.nav-tmn-menu li p{
  padding: 0px;
  margin: 0px;
}

/*
 * Central panel (ex: upload)
 */
div > div.central-panel{
  padding: 8% 0;
  text-align: center;
}
div.central-panel{
  padding: 10% 0
}

/*
 * Sigma
 */
.sigma-panel{
  height: 100%;
  min-height: 200px;
  background: #f2f0e9;
  -webkit-box-shadow: inset 0px 0px 10px #eae7df;
  -moz-box-shadow: inset 0px 0px 10px #eae7df;
  box-shadow: inset 0px 0px 10px #eae7df;
  position: relative;
  border-bottom: none;
}

.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sigma-tools {
  position: absolute;
  top: 12px;
  left: 12px;

  background-color: #FFF;

  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}

/*
 * Full-height layout
 */
html,body,.container-fullheight
{
    height:100%;
}
.container-fullheight
{
    display:table;
    width: 100%;
    margin-top: -96px;
    padding: 96px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-fullheight .row-fullheight
{
    height: 100%;
    display: table-row;
}
.container-fullheight .col-left, .container-fullheight .col-middle, .container-fullheight .col-right
{
  display: table-cell;
  float: none;
  vertical-align: top;
}
.col-left, .col-middle, .col-right{
  padding: 0px;
}


/*
 * Right panel
 */
.forcelayout-container{
  height: 60px;
  padding-top: 12px;
  text-align: center;
  border-bottom: 1px solid #E2E2E2;
  padding-left: 1px;
  margin-left: -1px;
}
.forcelayout-container.active, .network-item.active{
  padding-left: 0px;
  border-left: 1px solid #FFF;
  z-index: 10;
}
.tirette{
  border-left: 1px solid #E2E2E2;
  width: 40px;
  height: 40px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  margin-top: -2px;
  margin-bottom: -38px;
  margin-left: -21px;

  background-color: #FFF;
}
.tirette a{
  margin-top: 4px;
  margin-left: -4px;
  color: #ccc;
}
.container-networklist{
  margin-left: -1px;
  padding: 0px;
  overflow-y: auto;
  height: 100%;
  padding-top: 60px;
}
.container-networklist.full-height{
  padding-top: 0px;
}
.subcontainer-networklist{
  margin-top: -60px;
}
.container-networklist.full-height > .subcontainer-networklist{
  margin-top: 0px;
}
.col-right{
  border-left: 1px solid #E2E2E2;
}
.network-item{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 12px;
  cursor: pointer;
  padding-left: 1px;
}
.network-item .row{
  margin-left: 0px;
  margin-right: 0px;
}
.network-item .row > .col{
  padding-left: 12px;
  padding-right: 12px;
}
.network-item:hover{
  background-color: #F5F5F5;
}
.network-item .network-thumbnail{
  height: 80px;
  background-color: #f7f5f0;
  -webkit-box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.05);
  -moz-box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.05);
  box-shadow: inset 0px 1px 5px rgba(50, 20, 0, 0.05);
}
.network-abstract{
  margin-top: 18px;
  margin-left: -12px;
}
.network-abstract-title{
  overflow: hidden;
  margin: 0px;
  text-transform:uppercase;
  padding: 0px;
  white-space: nowrap;
}
.network-abstract-subtitle{
  color:#29ABE2;
  margin: 0px;
  padding: 4px 0px 0px 0px;
}

/*
 * Force vector settings + Categories
 */
.settings-container{
  padding: 0px 24px 0px 24px;
  height: 100%;
  overflow-y: auto;
}
.settings-container .setting-item{
  padding-bottom: 12px;
  border-bottom: 1px solid #E2E2E2;
  padding-top: 18px;
}
.settings-container .title{
  font-weight: 700;
}

.categories-container{
  padding: 0px 24px 0px 24px;
  height: 100%;
  overflow-y: auto;
}
.categories-container .title{
  text-transform:uppercase;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F2F2;
}
.category-item > .row .col{
  padding: 0px;
}
.category-item{
  min-height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
.category-item:hover{
  background-color: #F5F5F5;
  color: #000;
}
.category-item.cat-item-muted{
  color: #999;
}
.category-item .cat-item-label, .category-item.cat-item-muted:hover .cat-item-label{
  text-align: right;
  min-height: 30px;
  border-right: 1px solid #999;
  padding-top: 6px;
  margin-right: 6px;
  padding-right: 6px;
  padding-left: 16px;
}
.category-item.cat-item-muted .cat-item-label{
  border-right: 1px solid #CCC;
}
.category-item .cat-item-color, .category-item.cat-item-muted:hover .cat-item-color{
  margin-right: 6px;
  height: 30px;
  opacity: 1;
}
.category-item.cat-item-muted .cat-item-color{
  opacity: 0.1;
}
.category-item .cat-item-chart{
  margin-right: 6px;
  height: 30px;
}
.category-item .cat-item-chart .bar, .category-item.cat-item-muted:hover .cat-item-chart .bar{
  border-left: 1px solid #999;
  background-color: #E2E2E2;
  height: 30px;
  display: inline-block;
}
.category-item.cat-item-muted .cat-item-chart .bar{
  background-color: #F0F0F0;
}
.category-item.cat-item-muted .cat-item-chart .bar{
  border-left: 1px solid #CCC;
}
.category-item:hover .cat-item-chart .bar{
  background-color: #D0D0D0;
}
.category-item .cat-item-chart-count{
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -20px;
}

/*
 * Split layout
 */
.splitlayout-container{
  height: 100%;
 }
.splitlayout-top{
  height: 100%;
  padding-bottom: 117px;
 }
.splitlayout-bottom{
  height: 100px;
  border-top: 1px solid #b2b1ab;
}

/*
 * Views
 */
.views-container{
  height: 100px;
}
.views-container .col{
  padding: 0px;
}
.makeview-button-container{
  height: 65px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-left: 1px solid #E2E2E2;
  padding-top: 16px;
  text-align: center;
}

.views-band-container{
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: auto;
  margin: 0;
}

.views-band{
  min-height: 100%;
  min-width: 100%;
  height: 100px;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.views-band .view-item{
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;  
  padding: 10px;
  width: 120px;
  height: 90px;
}

.views-band .drag-ghost{
  background: red;
}

.views-band .drag-ghost .view-thumbnail{
  border: 1px dotted #181818;
}

.views-band .view-item:hover{
  background-color: #e5e3df;
}

.views-band .view-item .view-thumbnail{
  height: 100%;
  background-color: #f7f5f0;

  /* TODO: must-have? */
  position: relative;

  border: 1px solid #c1bfb8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.10);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.10);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.10);
}

/*
 * Narrative specifics
 */
.inline-editable:hover {
  color: #000;
}
.splitlayout-container.narrative .splitlayout-top{
  padding-bottom: 234px;
}
.splitlayout-container.narrative .splitlayout-bottom{
  height: 234px;
}
.narratives-list {
  margin-top: 10px;
  list-style-type: none;
}
.narrative h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.narrative h3 > a{
  color: #000;
}
.narrative .views-container{
  height: 100%;
}


.narrative .views-band .view-item:hover{
 /* margin-top: 2px;
  -webkit-box-shadow: 0px 4px 6px rgba(50, 20, 0, 0.06);
  -moz-box-shadow: 0px 4px 6px rgba(50, 20, 0, 0.06);
  box-shadow: 0px 4px 6px rgba(50, 20, 0, 0.06);
  */
}

.narrative .views-band .view-item.active {
  background-color: #cccccc;
}
.narrative .title-container p.title, .narrative .title-container input.title{
  background: none;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  border-left: 1px solid #E2E2E2;
  padding-top: 48px;
  text-align: center;
}
.narrative .title-container input.title:focus {
  outline: 0;
}
.narrative .row.narrative-row{
  background-color: #F4F4F9;
  border-bottom: 1px solid #E2E2E2;
}
.narrative .widget-background{
  background-color: #e5e3df;
}
.narrative .back-button{
  position: absolute;
  top: 12px;
  left: 12px;
}
.row-fullheight .col{
  height: 100%;
}
.narrative .widget-container{
  width: 100%;
  height: 100%;
}
.narrative .widget-container .widget-pre-panel{
  height: 5%;
}
.narrative .widget-container .widget-panel{
  height: 90%;
  width: 100%;
  background-color: #FFF;
  position: absolute;
  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}
.narrative .widget-panel .row{
  margin: 0px;
}
.narrative .widget-panel{
  background-color: #F00;
  padding: 12px;
  height: 100%;
}
.narrative .widget-panel .widget{
  border: 1px solid #b2b1ab;
  height: 100%;
  overflow: hidden;

}
.narrative .widget .view-title{
  padding: 12px 6px 0px 6px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  margin-top: -40px;
}
.narrative .widget .view-title input {
  width: 100%;
  border: none;
}
.narrative .widget .view-text{
  padding: 12px 6px 0px 6px;
  color: #777;
  height: 100%;
}
.narrative .widget .view-text textarea{
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
}
.narrative .widget .sibling-info{
  padding-top: 12px;
  cursor: pointer;
  height: 100%;
}
.narrative .widget .sibling-info .sibling-icon{
  font-size: 24px;
}
.narrative .widget .sibling-info.sibling-left:hover .sibling-icon {
  margin-left: -4px;
}
.narrative .widget .sibling-info.sibling-right:hover .sibling-icon {
  margin-right: -4px;
}
.narrative .widget .sibling-info.sibling-left{
  text-align: left;
  margin-left: 12px;
  padding-right: 6px;
}
.narrative .widget .sibling-info.sibling-right{
  text-align: right;
  margin-right: 12px;
  padding-left: 6px;
}
.narrative .widget {
  color: #555;
  font-family: 'Roboto Condensed', sans-serif;
}
.narrative .widget .col{
  padding: 0px;
  margin: 0px;
}
.narrative .widget .row.top-row{
  height: 50%;
}
.narrative .widget .row.bottom-row{
  height: 50%;
  background-color: #FFF;
}
.narrative .widget .row.bottom-row .col{
  height: 100%;
}
.narrative .widget .sigma-panel{
  min-height: 10px;
}
.narrative .widget .view-content{
  height: 100%;
  overflow-y: auto;
  padding-top: 43px;
}
#iframe-code{
  resize: vertical;
}


/* mods for bootstrap*/
.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* mods to be included by replacing the corresponding selectors; (@daniele)*/
.before-main{
  border-top:1px solid #c1bfb8;
}

.top-row{
  border-width: 0px;
  background: #fff;
}

.nav-tmn-menu {
  border-bottom: 1px solid #b2b1ab;
  margin: 0;
}

.nav-tmn-menu li{
  border-right: none transparent;
  margin-left: 0;
  padding: 0 10px;
  margin-bottom: 0px;
  border-bottom: 3px solid #fff;
  transition: all .2s ease-in-out;
  padding-top: 6px;
}

.nav-tmn-menu li a{
  padding: 0px 12px 0px 3px;
  padding:0;
  margin:0;
  border-top: 0px transparent; 
  line-height:40px;
  display: block;
  
}

.nav-tmn-menu li a:hover{
  border-width: 0px;
  background-color: transparent
}

.nav-tmn-menu li.active{
  border-bottom: 3px solid #539bdb;
  
}

.nav-tmn-menu li.active a{
  border-top: 0px transparent; 
  border-bottom: 0px transparent;
  margin-bottom: 0;
  margin: 0;
  z-index: 10;  
}

.nav-tmn-menu li .nav-tmn-title{
  text-transform: lowercase;
  font-size: 13px;
}


.nav-tmn-menu li .nav-tmn-subtitle {
  background: white;
  display: inline-block;
  line-height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 18px;
  font-size: 11px;
  margin-right: 3px;
  
}

.nav-tmn-menu li.active .nav-tmn-title{
  color: #181818;
}

.nav-tmn-menu li.active .nav-tmn-subtitle{
  color: #181818;
}

.nav-tmn-menu li a:hover .nav-tmn-title{
  color: #181818;
}

.nav-tmn-menu li a:hover .nav-tmn-subtitle{
  color: #181818;
}

.nav-tmn-menu li.active a:hover .nav-tmn-subtitle{
  
}



.narrative .widget-panel {
  padding: 0;
}




.sigma-tools {
  border: 1px solid #d2d2d2;
}

.narrative .row.narrative-row{
  background: #fff;
}

.narrative .row.narrative-row .title-container{
  text-align: center;
}