html, body, .widget-container{
  height: 100%;
  overflow: hidden;
}
body {
  color: #555;
  font-family: 'Roboto Condensed', sans-serif;
}
.col{
  padding: 0px;
  margin: 0px;
}
.row.top-row{
  height: 60%;
}
.row.bottom-row{
  height: 40%;
  background-color: #FFF;
}
.row.bottom-row .col{
  height: 100%;
}

/*
 * Sigma
 */
.sigma-panel{
  height: 100%;
  width: 100%;
  background: #f2f0e9;
  -webkit-box-shadow: inset 0px 0px 10px #eae7df;
  -moz-box-shadow: inset 0px 0px 10px #eae7df;
  box-shadow: inset 0px 0px 10px #eae7df;
  position: relative;
  border-bottom: 1px solid #b2b1ab;
}

.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sigma-tools {
  position: absolute;
  top: 12px;
  left: 12px;
  border: 1px solid #d2d2d2;


  background-color: #FFF;

  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}

/*
 * Sibling navigation (next / previous)
 */
.sibling-info{
  padding-bottom: 12px;
  cursor: pointer;
  height: 100%;
}
.sibling-info .sibling-title{
  color: #CCC;
  font-weight: 300;
  font-size: 12px;

}

.sibling-info .sibling-progress {
  color: #a0a0a0;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  margin: 0 12px;
  padding:0;
}

.sibling-info:hover .sibling-title{
  color: #888;
}

.sibling-info .sibling-icon, .sibling-info .sibling-icon.fa{
  font-size: 24px;
  line-height: 48px;
  height: auto;
}

.sibling-info.sibling-left:hover .sibling-icon {
  margin-left: 0px;
}
.sibling-info.sibling-right:hover .sibling-icon {
  margin-right: 0px;
}
.sibling-info.sibling-left{
  text-align: left;
  margin-left: 12px;
  padding-right: 6px;
}
.sibling-info.sibling-right{
  text-align: right;
  margin-right: 12px;
  padding-left: 6px;
}

/*
 * Content
 */
.view-content{
  height: 100%;
  overflow-y: auto;
  position: relative;
  border-bottom: 1px solid #b2b1ab;
  border-top: 1px solid #c1bfb8;
  overflow-x: hidden;
}

.view-title{
  margin: 12px 6px 0px 6px;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #000;
  position: relative;
}

.view-title .view-index{
  color: #a0a0a0;
  size: 14px;
  height: 100%;
  display: block;
  position: absolute;
  width: 40px;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  line-height: 40px;
}

.view-title .view-label{
  margin-left: 40px;
  display: block;
}

.view-text{
  padding: 12px 6px 12px 6px;
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}
.view-content-wrapper{
  padding:48px 0 12px 0;
  height: 100%;
  transition: all .3s ease-in-out;
}

.view-content-wrapper.show-legend{
  padding-top:142px;
}

/*
  Legend
*/
.legend-wrapper{
  position:absolute;
  width:100%;
  left:0;
  z-index: 2;
}

.legend{
  height:48px;
  overflow: hidden;
  z-index:1;
  background: #fff;
  border-bottom : 1px solid #eaeaea;
  padding: 0;
  transition: height .3s ease-in-out;
}

.legend .content{
  padding:8px 100px 12px 12px;
}

.legend.show-legend {
  height:142px;
}

.legend .category{
  line-height: 32px;
  margin-right: 6px;
}

.legend .node-label{ /* same lineheigth as circle height*/
  line-height: 36px;
  font-size: 13px;
  display: inline-block;
  padding: 2px 4px;
}

#toggle-legend {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index:2;
}

/* fullscereen */
:-webkit-full-screen:not(:root) {
  width: 100%;
  height: 100%;
}


.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}


#view-legend h3{
  line-height: 46px;
  padding: 0;
  font-size: 14px;
  margin: 0;
  color: #b2b1ab;
  display: inline-block;
}

