/* Hide sidebar container initially */
body:not([data-tbn-view]) .tbn-container,
body:not([data-tbn-view]) .tbn-logged {
  display: none!important;
}

/* Views-related global layout */
body[data-tbn-view="login"] .tbn-logged,
body[data-tbn-view="upload"] .tbn-logged {
  display: none!important;
}

body[data-tbn-view="explore"] .tbn-unlogged,
body[data-tbn-view="scripts"] .tbn-unlogged,
body[data-tbn-view="settings"] .tbn-unlogged {
  display: none!important;
}
