{{! Dashboard view: }}
<div class="container-fluid container-fullheight">
  <div class="row row-fullheight main">
    <div class="col-left col-xs-9" data-app-module="dashboard">
      Dashboard is currently unavailable.
    </div>
  </div>
</div>
