{{! Narratives item: }}
<li>
  <div data-app-narratives-action="edit" data-app-narrative-id="{{ id }}" class="view-item">
    <button class="action" data-app-narratives-action="delete">
      <span class="fa fa-remove"></span>
    </button>
    <a href="#">
      <h3>{{ title }}</h3>
      <p>{{t "narratives.slide" slides.length }}.</p>
    </a>
  </div>
</li>
