{{! Login form: }}
<div class="container-fluid container-fullheight">
  <div class="row row-fullheight main">
    <div class="col-left col-xs-9" data-app-module="login">
      <form class="form-horizontal">
        <fieldset>
          {{! Password input}}
          <div class="form-group">
            <label class="col-xs-4 control-label" for="login-password"></label>
            <div class="col-xs-4">
              <input id="login-password"
                     name="login-password"
                     type="password"
                     placeholder="{{t "login.password" }}"
                     class="form-control input-md" required="">

            </div>
          </div>

          {{! Button }}
          <div class="form-group">
            <label class="col-xs-4 control-label" for="login-signin"></label>
            <div class="col-xs-4">
              {{!-- <button id="login-forgotpassword"
                      name="login-forgotpassword"
                      class="btn btn-inverse">
                {{t "login.forgotpassword" }}
              </button> --}}
              <button id="login-signin"
                      name="login-signin"
                      class="btn btn-primary">
                {{t "login.signin" }}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
