{{! Narratives menu view: }}
<div class="container-fluid container-fullheight narrative">
  <div class="row row-fullheight main widget-background">
    <div class="col-left col-xs-9" data-app-module="narratives">
      <ul class="narratives-list">
      	{{!-- Here comes the narratives --}}
      </ul>
    </div>
  </div>
</div>
