{{! Narratives addItem: }}
<li>
  <div class="view-item">
    <div class="view-thumbnail">
      <button type="button"
              class="btn btn-link btn-sm"
              data-app-narratives-action="add">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
  </div>
</li>
