{{! Upload form: }}
<div class="form-group" data-app-module="upload">
  <div>
    <div class="central-panel">
      <div class="fileinput-container">
         <input type="file" />
      </div>
      <a href="#" class="btn btn-primary" role="button">{{t "upload.upload_network" }}</a>
    </div>
  </div>
</div>
