{{! Upload form: }}
<div class="container-fluid container-fullheight">
  <div class="row row-fullheight">
    <div class="col-left col-xs-9" data-app-module="upload">
      <div class="form-group">
        <div>
          <div class="central-panel">
            <p class="upload-disclaimer">
              {{t "upload.disclaimer" }}
            </p>
            <div class="fileinput-container">
               <input type="file" />
            </div>
            <a href="#" class="btn btn-primary" role="button">{{t "upload.upload_network" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
