{{! Reminder modal: }}
<div data-app-modal="save" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{t "reminder.title" }}</h4>
      </div>
      <div class="modal-body">
        <div>
          <p><em>{{t "reminder.text" }}</em></p>
          <p><em>{{t "reminder.ps" }}</em></p>
        </div>
        <br>
        <div class="form-group">
          <input id="reminder-url" class="form-control" type="text" value="{{ url }}" />
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
