{{!-- Basemap: Category in sidebar --}}
<div class="network-item" role="button" data-app-basemap-category="{{ this.id }}">
  <div class="row">
    <div class="col col-xs-5">
      <div class="network-thumbnail"></div>
    </div>
    <div class="col col-xs-7">
      <div class="network-abstract">
        <p class="network-abstract-title">{{ this.title }}</p>
        <p class="network-abstract-subtitle">{{basemap_categories this.values }}</p>
      </div>
    </div>
  </div>
</div>
