{{! Narratives item: }}
<li>
  <div data-app-narratives-action="edit" data-app-narrative-id="{{ id }}" class="view-item">
    <h3><a href="#">{{ title }}</a></h3>
    <p>{{t "narratives.slide" slides.length }}.</p>
  </div>
</li>
