{{! Views snapshot: }}
{{#each snapshots }}
    <td role="button">
      <div class="view-item">
        <div class="view-thumbnail">
            {{! Snasphot data }}
        </div>
      </div>
    </td>
{{/each}}
