{{! Narratives view: }}
{{!-- TODO: Find a more suitable way to perform this task --}}
<div class="container-fluid container-fullheight narrative">
  <div class="row row-fullheight main"></div>
</div>
