{{! Views snapshot: }}
{{#each snapshots }}
  <td role="button">
    <div class="view-item">
      <div data-app-thumbnail-snapshot="{{ @index }}" class="view-thumbnail">
        {{! Snasphot data }}
      </div>
    </div>
  </td>
{{/each}}
