{{! Login form: }}
<form class="form-horizontal">
<fieldset>

{{! Form Name }}
<legend>{{t "login.login" }}</legend>

{{! Password input}}
<div class="form-group">
  <label class="col-md-4 control-label" for="login-password"></label>
  <div class="col-md-4">
    <input id="login-password"
           name="login-password"
           type="password"
           placeholder="{{t "login.password" }}"
           class="form-control input-md" required="">

  </div>
</div>

{{! Button }}
<div class="form-group">
  <label class="col-md-4 control-label" for="login-signin"></label>
  <div class="col-md-4">
    <button id="login-signin"
            name="login-signin"
            class="btn btn-primary">
      {{t "login.signin" }}
    </button>
    <button id="login-forgotpassword"
            name="login-forgotpassword"
            class="btn btn-inverse">
      {{t "login.forgotpassword" }}
    </button>
  </div>
</div>

</fieldset>
</form>
