{{! Narratives edition view: }}
<div class="splitlayout-container narrative">
  <div class="splitlayout-top main">
    <div class="container-fluid container-fullheight">
      <div class="row row-fullheight widget-background">
        <div class="col col-lg-4 col-xs-3">
          <button data-app-narratives-action="back" class="btn btn-default btn-sm btn-link back-button"><span class="glyphicon glyphicon-arrow-left"></span> {{t "narratives.back_button" }}</button>
        </div>
        <div class="col col-lg-4 col-xs-6 slide-container">
          {{!-- Here comes the slide --}}
        </div>
        <div class="col col-lg-4 col-xs-3">
        </div>
      </div>

    </div>
    <div class="splitlayout-bottom">
      <div class="container-fluid">
        <div class="row views-container narrative-row">
          <div class="col col-xs-2">
            <div class="title-container">
              <p data-app-narratives="title" class="title">{{ title }}</p>
            </div>
          </div>
          <div class="col col-xs-10">
            <div class="views-band-container">
              <table class="chosen-views-band views-band">
                <tr>
                  {{!-- Here comes the chosen snapshots --}}
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row views-container">
          <div class="col col-xs-2">
            <div class="title-container">
              <p class="title">{{t "narratives.views" }}</p>
            </div>
          </div>
          <div class="col col-xs-10">
            <div class="views-band-container">
              <table class="unchosen-views-band views-band">
                <tr>
                  {{!-- Here comes the unchosen snapshots --}}
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
