{{!-- Narrative slide view --}}
<div class="widget-container">
  <div class="widget-pre-panel"></div>
  <div class="widget-panel">
    <div class="widget">
      <div class="row top-row">
        <div class="col col-xs-12 sigma-panel">
          <div class="sigma-expand"></div>
          <div class="sigma-overlay">
          </div>
          <div class="sigma-tools">
            <div class="btn-group-vertical">
            <button type="button"
                    class="btn btn-link btn-xs"
                    data-app-sigma-action="recenter">
              <span class="glyphicon glyphicon-record"></span>
            </button>
            <button type="button"
                    class="btn btn-link btn-xs"
                    data-app-sigma-action="zoom">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button"
                    class="btn btn-link btn-xs"
                    data-app-sigma-action="unzoom">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
          </div>
        </div>
      </div>
      <div class="row bottom-row">
        <div class="col col-xs-1">
          <div class="sibling-info sibling-left" role="button">
            <div class="sibling-icon">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
          </div>
        </div>
        <div class="col col-xs-10 view-content">
          <div class="view-title">
            {{ title }}
          </div>
          <div class="view-text">
            {{ text }}
          </div>
        </div>
        <div class="col col-xs-1">
          <div class="sibling-info sibling-right" role="button">
            <div class="sibling-icon">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
